# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

#ignore IDEs, Vagrant
.idea
Vagrantfile
puphpet

#bower and node
bower_components
node_modules

.sass-cache
images/source/*.jpg
images/resized

